.buttons{
    background-color: #1212120a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 0;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
