.mainTable{
    width: 100%;
    margin: 10px 0px;
    padding: 6px 25px;
    
}


.itemDiv{
    display: flex;
    /* justify-content:flex-end; */
    gap: 10px;
}
.noMargin{
    margin-block: unset;
}
.tablerow{
    padding: 1rem;
    border-bottom: 1px solid #1212121f;
}
.tablerow > a{
    cursor: pointer;
}
.tablerow:hover{
    background-color: #1212120a;
}
.img{
    border-radius: 0.75rem;
}
.tableHead {
    padding: 1rem;
    border-bottom: 1px solid #1212121f;
}

@media screen and (max-width:988px ){
    .mainTable{
        width: 100%;
        margin: 10px 0px;
        padding: 6px 10px;    
    }
   
  }