.logo{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0px 4px;
    font-weight: 800;
    padding: 10px;
    
}
.navbarBox {
    display: flex;
    
}
.menu{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.verticalLine{
    display: flex;
    justify-content: center;
    border-right:1px solid #12121214 ;
    height: 24px;
    margin-left: 1.5rem;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.SearchBarDiv{
    margin-right: 200px;
}

.buttonBox{
    display: flex;
    align-items: center;
    gap:0px 12px
}