.filterDataDiv {
  width: 100%;
  border-radius: 0.75rem;
  display: flex;
  gap: 6px;
  margin: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  border-bottom: 1px solid #1212120a;
  animation: FiltterOptions 1000ms ease 0s 1 normal forwards;
}
.filterDataDiv > button:hover{
  background-color: black;
  color: white;
}


@keyframes FiltterOptions {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
